@import url(./vendor/fonts/font.css);
@import url(./vendor/normalize.css);

.main {
  font-family: "Gotham", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #0D0D0D;
  margin: 0 auto;
}
.main-banner {
}
.main-banner__bg {
  background: linear-gradient(180deg, #EAE9FF 0%, rgba(255, 255, 255, 0.5) 100%);
}
.wrapper {
  width: 1120px;
  margin: 0 auto;
}
.main-banner__content {
  display: flex;
  padding: 64px 0 40px;
  gap: 20px;
}
.main-banner__text-content {
  align-self: center;
}
.title {
  margin: 0;
  font-weight: 500;
  line-height: 1.25;
}
.title_main{
  font-size: 40px;
}
.text {
  font-size: 18px;
  margin: 0;
}
.text_main-banner {
  margin: 20px 0 32px;
}
.button-box {
  display: flex;
  gap: 20px;
}
.button {
  padding: 11px 24px 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  transition: all .6s;
}
.button_color {
  font-weight: 500;
  color: #FFFFFF;
  background-color: #4D35AF;
}
.button_border {
  border: 1px solid #6A50D2;
  color: #6A50D2;
}
.main-banner__img {
}
.advantages {
}
.section{
  padding: 64px 0;
}
.title_second {
  font-size: 32px;
}
.cards-content {
  margin-top: 40px;
}
.advantages__cards {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.advantages__item {
  box-sizing: border-box;
  outline: 1px solid transparent;
  width: 265px;
  background-color: #F8F8F8;
  border-radius: 20px;
  padding: 24px 20px;
  transition: all .6s;
}
.advantages__item-img {
}
.title_third {
  font-size: 20px;
}
.title_margin{
  margin: 13px 0 17px;
}
.text-mini {
  font-size: 16px;
  margin: 0;
  line-height: 1.37;
}
.text_color-link{
  color: #4589E8;
  text-decoration: none;
}
.numbers {
}
.numbers__cards {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.numbers__item {
  width: 256px;
}
.title_bold {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 9px;
  line-height: 1.25;
}
.banner {
}
.banner__content {
  border-radius: 20px;
  background: #F4F0FF;
  display: flex;
  align-items: center;
}
.banner__text-content {
  padding: 32px;
}
.banner__list {
  padding-left: 19px;
  margin: 20px 0 32px;
}
.text_banner {
  margin-bottom: 16px;
}
.text_banner:last-child{
  margin-bottom: 0;
}
.banner__img {
}
.stock-mechanics {
}
.stock-mechanics__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.stock-mechanics__item {
  box-sizing: border-box;
  width: 550px;
  display: flex;
  gap: 16px;
  background-color: #F8F8F8;
  border-radius: 20px;
  padding: 24px 20px;
  transition: all 0.6s;
}
.text-mini_stock-mechanics{
  margin-bottom: 12px;
}
.text-mini_stock-mechanics:first-of-type{
  margin-top: 14px;
}
.text-mini_stock-mechanics:last-of-type{
  margin-bottom: 0;
}
.svg-box{
  position: relative; 
  width: 48px; 
  height: 48px
}
.stock-mechanics__img {
  align-self: start;
}
.stock-mechanics__img_default, .stock-mechanics__img_hover{
  position: absolute; 
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%; 
  transition: all 0.6s;
}
.stock-mechanics__img_hover{
  opacity: 0;
}
.stock-mechanics__text-content {
}
.successful-cases {
}
.cards-content_shadow{
  box-shadow: 0px 0px 100px 0px #00000014;
  border-radius: 20px;
}
.successful-cases__cards {
  display: grid;
  grid-template-columns: repeat(5, 360px);
  padding: 0 0 20px;
  margin: 0;
  list-style: none;
  gap: 20px;
  justify-content: space-between;
  white-space: nowrap;
  overflow: auto;
  border-radius: 20px;
}
.successful-cases__item {
  box-sizing:border-box;
  width: 360px;
  padding: 24px 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 100px 0px #00000014;
}
.successful-cases__img {
}
.successful-cases__text-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.text-mini_successful-cases {
  margin-bottom: 10px;
}
.text-mini_successful-cases:last-of-type{
  margin-bottom: 0;
}

.successful-cases__cards::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #E1E1E1;
}
  
.successful-cases__cards::-webkit-scrollbar {
  height: 15px;
  border-radius: 10px;
  background-color: #E1E1E1;
}
  
.successful-cases__cards::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b3b3b3;
}


.promotion {
}
.promotion__cards {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.promotion__item {
  width: 346px;
}
.title_promotion{
  width: 48px;
  height: 48px;
  background: #4D35AF;
  border-radius: 24px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 24px;
}
.text_promotion {
  text-align: center;
}
.banks {
}
.title_center {
  text-align: center;
}
.banks__search {
  padding: 17px 4px 17px 46px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #E5E5E5;
  box-sizing: border-box;
  color: #8C8C8C;
}
.search-container {
  position: relative; 
  width: 550px;
  height: 56px;
  margin: 36px auto 32px;
}
.search-icon {
  position: absolute; 
  left: 17px; 
  top: 50%; 
  transform: translateY(-50%); 
  width: 20px; 
  height: 20px; 
  background-image: url('./img/Search.svg'); 
}

.cross-icon {
  position: absolute; 
  right: 17px; 
  top: 50%; 
  transform: translateY(-50%); 
  width: 20px; 
  height: 20px; 
  background-image: url('./img/Close.svg'); 
  display: none;
}
.banks__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.banks__item {
  width: 170px;
  height: 80px;
  background-color: #F8F8F8;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banks__link {
}
.banks__img {
}
.text_error-message{
  text-align: center;
  color: #4D35AF;
}

@media (hover: hover){
  .advantages__item:hover{
    cursor: pointer;
    border-radius: 4px;
    outline: 1px solid #EFEFEF;
  }
  .stock-mechanics__item:hover{
    cursor: pointer;
  }
  .stock-mechanics__item_pink:hover{
    background-color: #FFE0E9;
  }
  .stock-mechanics__item_purple:hover{
    background-color: #EFEEFF;
  }
  .stock-mechanics__item_orange:hover{
    background-color: #FFECDB;
  }
  .stock-mechanics__item_blue:hover{
    background-color: #DDF5FF;
  }
  .stock-mechanics__item_pink:hover .stock-mechanics__img_default, 
  .stock-mechanics__item_purple:hover .stock-mechanics__img_default,
  .stock-mechanics__item_orange:hover .stock-mechanics__img_default,
  .stock-mechanics__item_blue:hover .stock-mechanics__img_default{
    opacity: 0;
  }
  .stock-mechanics__item_pink:hover .stock-mechanics__img_hover, 
  .stock-mechanics__item_purple:hover .stock-mechanics__img_hover,
  .stock-mechanics__item_orange:hover .stock-mechanics__img_hover,
  .stock-mechanics__item_blue:hover .stock-mechanics__img_hover{
    opacity: 1;
  }
  .successful-cases__cards::-webkit-scrollbar-thumb:hover{
    background-color: #8c8a8a;
    cursor: pointer;
  }
  .cross-icon:hover{
    cursor: pointer;
  }
  .button:hover{
    background-color: #4d35af94;
    color: #FFFFFF
  }
}

    




